main > #author-pfp {
    border-radius: 100%;
    display: block;
    margin: 2.5rem auto 2rem auto;
}

main > h2 {
    font-size: 3.4rem;
    font-weight: 300;
    text-align: center;
    color: var(--text-color-primary);
}

main > div#job {
    font-size: 1.55rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 5rem;
    color: var(--text-color-primary);
}

main > #social-media-link-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 8rem;
}

main > #social-media-link-buttons > a {
    width: 100%;
    border: 1px solid var(--text-color-primary);
    border-radius: 0.8rem;
    padding: 0.8rem 0;

    font-size: 2rem;
    background-repeat: no-repeat;
    background-position: 0.5rem;
    background-size: 2.9rem;
    text-align: center;

    transition: 0.15s;
}

main > #social-media-link-buttons > a:hover {
    box-shadow: 0 0 1rem var(--text-color-primary);
}

main > #social-media-link-buttons > a:nth-child(1) {
    background-image: var(--icon-instagram);
}

main > #social-media-link-buttons > a:nth-child(2) {
    background-image: var(--icon-twitter);
}

main > #social-media-link-buttons > a:nth-child(3) {
    background-image: var(--icon-linkedin);
}

main > #social-media-link-buttons > a:nth-child(4) {
    background-image: var(--icon-facebook);
}

main > #about-me-container {
    margin-bottom: 2rem;
}

h3 {
    font-size: 2.4rem;
    color: var(--text-color-primary);
    margin-bottom: 1rem;
    text-align: center;
}

main > #about-me-container > h3 {
    border-bottom: 1px solid var(--text-color-secondary);
    padding-bottom: 0.25rem;
}

main > #about-me-container > p {
    font-size: 1.95rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: var(--text-color-primary);
}

@media screen and (width >= 650px) {

    main > #social-media-link-buttons > a {
        width: 90%;
    }

    main > #about-me-container {
        width: 90%;
        margin: 0 auto 4rem auto;
    }

    main > #about-me-container > h2 {
        margin-bottom: 2rem;
    }
}